body {background-color: whitesmoke !important;}

#txtDIV { 
  display: none;
}

#txtcDIV { 
  display: none;
}

#vacacionesDIV { 
  display: none;
}

#panel-usuarioDIV { 
  display: none;
}

#panel-personalDIV { 
  display: none;
}

#alerta { 
  display: none;
}

#alertaM { 
  display: none;
}

#alertaR { 
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.tdObservaciones {
  word-wrap: break-word;
  max-width: 1px;
}