#txtDIV { 
  display: none;
}

#txtcDIV { 
  display: none;
}

#vacacionesDIV { 
  display: none;
}

#panel-usuarioDIV { 
  display: none;
}

#panel-personalDIV { 
  display: none;
}

#alerta { 
  display: none;
}

#alertaM { 
  display: none;
}

#alertaR { 
  display: none;
}
