<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Solicitud de </title>
	</head>
	<body>
		<p>Hola xxxx</p>
		<p>El empleado xxxx con número de nomina xxxx ha solicitado xxxxx por el siguiente concepto</p>
		<p>Fecha: xxxx</p>
		<p>Horas: xxxx</p>
		<p>Razón: xxxx</p>
		<p>En el siguiente link podrá acceder al panel de Autorización de Incidencias Web</p>
		<a href="http://localhost:8081/Mexqintra/rh/inicio/txt/index.php?request=autorizar&emp=23253&fecha=2020-01-29" target="_blank">Autorización de Incidencias Web</a>
	</body>
</html>